# Bash/ZSH extensions
alias rmdir="rm -rf"
alias move="mv"
alias copy="cp"

alias reload="source ~/.zshrc"

# Clear DNS cashe
alias killdns="sudo killall -HUP mDNSResponder"

# Apps
alias edge="open -a Microsoft\ Edge\ Dev"
alias chrome="open -a Google\ Chrome"
alias safari="open -a Safari"
alias firefox="open -a Firefox\ Developer\ Edition"

# Misc
alias cat="bat"
alias tree="tree -C"