[submodule "shell/zsh/custom/zsh-syntax-highlighting"]
	path = shell/zsh/custom/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "shell/zsh/custom/plugins/fzf-tab"]
	path = shell/zsh/custom/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
