<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>darkthemeuid</key>
	<string>theme.urlimport.E845DB2D-0B41-4482-8359-2FF6F0AC9A4C</string>
	<key>lightthemeuid</key>
	<string>theme.urlimport.DEB9B91B-2C2E-40EA-BD1F-90A0249FE4CF</string>
</dict>
</plist>
